<nav
    class="navbar navbar-expand-lg navbar-dark bg-dark"
    *ngIf="authService.isLoggedIn()">

    <div class="container">

        <a
            class="navbar-brand"
            routerLink="/books">

            <i class="fa-solid fa-book-open"></i>
            Book Library

        </a>

        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div
            class="collapse navbar-collapse"
            id="navbarNav">

            <ul class="navbar-nav me-auto">

                <li class="nav-item">

                    <a
                        class="nav-link"
                        routerLink="/books">
                        
                        <i class="fa-solid fa-book"></i>
                        Books

                    </a>

                </li>

                <li class="nav-item">

                    <a
                        class="nav-link"
                        routerLink="/quotes">

                        <i class="fa-solid fa-quote-left"></i>
                        Quotes

                    </a>

                </li>

            </ul>

            <button
                class="btn btn-outline-warning me-2"
                (click)="toggleDarkMode()">

                <i
                class="fa-solid"
                [ngClass]="darkMode ? 'fa-sun' : 'fa-moon'">
                </i>
                
                {{ darkMode ? 'Light Mode' : 'Dark Mode' }}

            </button>

            <button
                class="btn btn-outline-light"
                (click)="logout()">

                <i class="fa-solid fa-right-from-bracket"></i>
                Logout

            </button>

        </div>

    </div>

</nav>

<router-outlet></router-outlet>